h1 {
    color: #ffffffde
}

h2 {
    color: #ffffffde
}

h3 {
    color: #ffffffde
    
}

p {
    color: #ffffffde
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2d2929;
    text-align: center;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.gallerySmall {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.image-item {
    max-width: 80%;
}

.image-item img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

.caption {
    margin-top: 5px;
    font-size: 16px;
    color: #ffffffde;
}

.imageCollectionMenu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: row;
    align-items: center;
    gap: 50px;
    padding: 30px;
}
@media (max-width: 500px) {
    .imageCollectionMenu{
        grid-template-columns: repeat(1, 1fr); /* 1 column for small screens */
    }
}

.collection {
    max-width: 80%;
}

.collection img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

.collectionDescription {
    margin-top: 5px;
    font-size: 16px;
    color: #ffffffde;
}

.breadcrumb {
    padding: 10px 16px;
    list-style: none;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
  color: #ffffffde;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: #ffffffde;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}